.experience_container{
    display: grid;
    grid-template-columns:1fr 1fr ;
    gap: 2rem;
}
.experience_container > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}
 

.experience_container > div:hover {
    border-color: var(--color-primary-variant);
    background: linear-gradient(rgb(7, 55, 121),transparent);
    backdrop-filter: blur(15px);
}

.experience_container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary) ;
}

.experience__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.expeience__details{
    display: flex;
    gap: 1rem;
}

.expeience__details-icon{
    margin-top: 6px;
    color: var(--color-primary);

}